@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var dataUser = ViewBag.Message;
}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid" id="formCrud" style="display:none">
            <div class="card shadow mb-4">
                <div class="card-header ">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Master Employee
                    </h6>
                </div>

                <div class="card-body">

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">ID* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeID" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Name* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeName" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">NIK* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeNIK" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Birth Date<span class="badge field-required">*</span></label>
                            <div class="input-group date col-md-5" id="datePickerTo" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="birthDate" data-target="#datePickerTo" />
                                <div class="input-group-append" data-target="#datePickerTo" data-toggle="datetimepicker">
                                    <div id="dvbirthDate" class="input-group-text btn btn-info"><em class="fa fa-calendar"></em></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Sallary* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                Rp&nbsp;&nbsp;<input type="number" class="form-control" id="sallary" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Address </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <textarea id="address" class="w-100"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="d-flex justify-content-center">
                            <div class="row" runat="server">
                                <button id="btnSubmit" class="btn btn-success" onclick="saveData('Save')"><em class="fa fa-paper-plane"></em> Save</button>
                                &nbsp;
                                <button id="btnClose" class="btn btn-dark" onclick="onClose()"><em class="fa fa-times-circle"></em> Close</button>
                               @* &nbsp;
                                <button id="btnDelet" class="btn btn-danger" onclick="deleteData()"><em class="fa fa-trash"></em> Delete</button>*@
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

        <div class="container-fluid" id="formList">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Master Employee</h6>
                </div>
                
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <span class="m-0 font-weight-bold text-primary">Data Employee</span>
                </div>
                <div class="card-body">
                    <a id="btnAdd" class="btn btn-sm btn-success" onclick="onAddNew()" ><em class="fa fa-plus"></em> Add New</a>
                    <br /><br/>
                    <div class="table-responsive ">
                        <table class="table table-bordered " id="listData" width="100%" cellspacing="0">
                            <caption>Data Employee</caption>
                            <thead>
                                <tr>
                                    <th class="headerBg" style="width:3%">
                                        Action
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Name
                                    </th>
                                    <th class="headerBg" style="width:7%">
                                        Birth Date
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Sallary
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        NIK
                                    </th>
                                    

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*Modal Delete Confirmation*@
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure to Delete?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Delete" below if you are sure to delete your transaction.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="closeModal()">No</button>
                        <a class="btn btn-primary" onclick="deleteChoosen()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
    </div>
</div>
<script src="~/theme/myjs/employee.js"></script>