@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var dataUser = ViewBag.Message;
}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid" id="formInput">
            <div class="card shadow mb-4">
                <div class="card-header ">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Master Employee
                    </h6>
                </div>

                <div class="card-body">

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">ID* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeID" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Name* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeName" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">NIK* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="employeeNIK" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Birth Date<span class="badge field-required">*</span></label>
                            <div class="input-group date col-md-5" id="datePickerTo" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="birthDate" data-target="#datePickerTo" />
                                <div class="input-group-append" data-target="#datePickerTo" data-toggle="datetimepicker">
                                    <div id="dvbirthDate" class="input-group-text btn btn-info"><em class="fa fa-calendar"></em></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Sallary* </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                Rp&nbsp;&nbsp;<input type="number" class="form-control" id="sallary" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Address </label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <textarea id="address" class="w-100"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="d-flex justify-content-center">
                            <div class="row" runat="server">
                                <button id="btnSubmit" class="btn btn-success" onclick="saveData('Save')"><em class="fa fa-paper-plane"></em> Save</button>
                                &nbsp;
                                <button id="btnClose" class="btn btn-dark" onclick="getData()"><em class="fa fa-times-circle"></em> Close</button>
                                &nbsp;
                                <button id="btnDelet" class="btn btn-danger" onclick="updateData()"><em class="fa fa-trash"></em> Delete</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

        <div class="container-fluid" id="formList">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Master Employee</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="alert_container" runat="server">
                            <asp:Label ID="lblError" runat="server" Text=""></asp:Label>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">User Code</label>
                            <div class="input-group date col-md-3" data-target-input="nearest">
                                <input type="text" class="form-control" id="userCodeSearch" onkeyup="KeyPressEnterList()" />
                            </div>

                            <label class="col-md-2 control-label">User Name</label>
                            <div class="input-group date col-md-3" data-target-input="nearest">
                                <input type="text" class="form-control" id="userNameSearch" onkeyup="KeyPressEnterList()" />
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-3">

                                @*<input type="text" class="form-control " style="width:72%" id="typeSearch" onkeypress="KeyPressEnterList()" /><br />*@
                                <button class="btn btn-sm btn-info " onclick="searchDataListUser()"><em class="fa fa-search"></em> Search</button>&nbsp;
                                <button id="btnReset" class="btn btn-sm btn-warning" onclick="resetFormList()"><em class="fas fa-times"></em> Reset</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <span class="m-0 font-weight-bold text-primary">Data User</span>
                </div>
                <div class="card-body">
                    <a id="btnAdd" class="btn btn-sm btn-success" onclick="onAddNew()" style="display:none"><em class="fa fa-plus"></em> Add New</a>
                    <br />
                    <div class="table-responsive ">
                        <table class="table table-bordered " id="listData" width="100%" cellspacing="0">
                            <caption>Data RoleList</caption>
                            <thead>
                                <tr>
                                    <th class="headerBg" style="width:3%">
                                        Action
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        User Code
                                    </th>
                                    <th class="headerBg" style="width:7%">
                                        User Name
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Type
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Email
                                    </th>
                                    <th class="headerBg" style="width:7%">
                                        Job Title Name
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Position
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Company Code
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Company Name
                                    </th>
                                    <th class="headerBg" style="width:10%">
                                        Family Function Code
                                    </th>
                                    <th class="headerBg" style="width:10%">
                                        Family Function Name
                                    </th>
                                    <th class="headerBg" style="width:6%">
                                        Function Code
                                    </th>
                                    <th class="headerBg" style="width:6%">
                                        Function Name
                                    </th>
                                    <th class="headerBg" style="width:5%">
                                        Location Name
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Valid From
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Valid To
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Created At
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Updated At
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Created By
                                    </th>
                                    <th class="headerBg" style="width:3%">
                                        Updated By
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#datePickerTo').datetimepicker
            ({
                format: 'YYYY-MM-DD'
            });
        var table = $('#listData').DataTable();
        $('#employeeNIK').css('disabled', 'false');

    });

    function saveData() {

        var dataHeader = {
            name: $('#employeeName').val(),
            birth_date: $('#birthDate').val(),
            address: $('#address').val(),
            sallary: parseFloat($('#sallary').val()),
            nik: $('#employeeNIK').val(),
        };
        $.ajax({
            type: "POST",
            url: "/Employee/SubmitEmployee",
            data: dataHeader,
            success: function (respon) {
                if (respon.is_ok) {

                    toastr.success("Employee success to submitted");
                    setTimeout(() => {
                        $('#formCrud').css('display', 'none');
                    }, 500);
                }
                else {
                    console.log("Invoice failed to submitted");
                    toastr.error(respon.messageUI);

                }
            }

        });
    }

    function getData() {

        var dataHeader = {
            id: parseInt(20240100001)//$('#employeeID').val()
        };
        $.ajax({
            type: "GET",
            url: "/Employee/GetEmployeeById",
            data: dataHeader,
            success: function (respon) {
                var dataresp = JSON.parse(respon);
                if (dataresp.is_ok) {
                    $('#employeeID').val(dataresp.ID);
                    $('#employeeName').val(dataresp.name);
                    $('#birthDate').val(moment(dataresp.birth_date).format('YYYY-MM-DD'));
                    $('#employeeNIK').val(dataresp.nik);
                    $('#sallary').val(dataresp.sallary);
                    $('#address').val(dataresp.address);
                    $('#employeeNIK').prop('disabled', true);;

                }
                else {
                    console.log("employee not found");
                    toastr.error(dataresp.messageUI);

                }
            }

        });
    }

    function updateData() {

        var dataHeader = {
            id: 20240100001,
            name: $('#employeeName').val(),
            birth_date: $('#birthDate').val(),
            address: $('#address').val(),
            sallary: parseFloat($('#sallary').val()),
            nik: $('#employeeNIK').val(),
        };
        $.ajax({
            type: "PUT",
            url: "/Employee/EditEmployee",
            data: dataHeader,
            success: function (respon) {
                if (respon.is_ok) {

                    toastr.success("Employee success to changes");
                    setTimeout(() => {
                        $('#formCrud').css('display', 'none');
                    }, 500);
                }
                else {
                    console.log("Invoice failed to submitted");
                    toastr.error(respon.messageUI);

                }
            }

        });
    }

</script>