@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Invoice Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid" id="formDetail">

            <div class="card shadow mb-4">
                <div class="card-header ">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Invoice

                    </h6>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div id="alert_container" runat="server">
                            <asp:Label ID="lblError" runat="server" Text=""></asp:Label>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label">Invoice No</label>
                            <div class="input-group col-md-6" data-target-input="nearest">
                                <input type="text" class="form-control" id="txtInvNo" placeholder="e.g. INV-00001/2024/01/26" />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row" runat="server">
                            <label class="col-md-2 control-label"></label>

                            <div class="input-group col-md-6" id="ActionButton" data-target-input="nearest">
                                <div class="col-md-12" runat="server" style="padding-left:0">
                                    <a id="btnSearch" href="javascript:void(0)" class="btn btn-sm btn-info" onclick="searchInvoice()">Search</a>
                                    <a id="btnReset" href="javascript:void(0)" class="btn btn-sm btn-warning" onclick="resetForm()"><em class="fas fa-times"></em> Reset</a>
                                    <a id="btnAddNew" href="javascript:void(0)" class="btn btn-sm btn-success" onclick="newForm()"><em class="fas fa-plus"></em> Add New</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="formCrud" style="display:none">
                <div class="card shadow mb-4" id="formHeaderInvoice">
                    <div class="card-header ">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Invoice
                        </h6>
                    </div>
                    <div class="card-body" id="bodyTemplateUser">
                        <div id="alert_container" runat="server">
                            <asp:Label ID="lblError" runat="server" Text=""></asp:Label>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Invoice Date<span class="badge field-required">*</span></label>
                                <div class="input-group date col-md-3" id="datePickerTo" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="InvDate" data-target="#datePickerTo" />
                                    <div class="input-group-append" data-target="#datePickerTo" data-toggle="datetimepicker">
                                        <div id="dvInvDate" class="input-group-text btn btn-info"><em class="fa fa-calendar"></em></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">To </label>
                                <div class="input-group date col-md-4" data-target-input="nearest" style="min-height:10%">
                                    <textarea id="txtTo" class="w-100"></textarea>
                                </div>

                                <label class="col-md-2 control-label">Ship To </label>
                                <div class="input-group date col-md-4" data-target-input="nearest" style="min-height:10%">
                                    <textarea id="txtShipTo" class="w-100"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Sales Name </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <select id="typeSales" class="form-control sprites-arrow-down" name="TaskFitToWork" onchange="getSales();">
                                    </select>
                                </div>

                                <label class="col-md-2 control-label">Payment Type </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <select id="typePayment" class="form-control sprites-arrow-down" name="TaskFitToWork" onchange="getPayment();">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Courier </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <select id="typeCourier" class="form-control sprites-arrow-down" name="TaskFitToWork" onchange="getCourier();">
                                    </select>
                                </div>

                                <label class="col-md-2 control-label">       </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <a id="btnAdd" href="javascript:void(0)" class="btn btn-sm btn-success" onclick="addDataDetail()" style="text-justify:auto"><em class="fa fa-plus"></em> New Detail</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card shadow mb-4" id="formDetailInvoice" style="display:none">
                    <div class="card-header ">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Detail Invoice
                        </h6>
                    </div>
                    <div class="card-body" id="bodyTemplateUser">
                        <div id="alert_container" runat="server">
                            <asp:Label ID="lblError" runat="server" Text=""></asp:Label>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Product </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <select id="typeProduct" class="form-control sprites-arrow-down" name="TaskFitToWork" onchange="productChange();" value>
                                    </select>
                                    <input type="text" id="txtProdName" style="display:none" />
                                    <input type="text" id="txtProdID" style="display:none" />
                                </div>

                                <label class="col-md-2 control-label">Weight(kg) </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <input type="number" id="txtWeight" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Unit Price </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <input type="number" id="txtPrice" class="form-control" />
                                </div>

                                <label class="col-md-2 control-label">Qty </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <input type="number" id="txtqty" class="form-control" onkeyup="calculateTotal()" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row" runat="server">
                                <label class="col-md-2 control-label">Total </label>
                                <div class="input-group date col-md-4" data-target-input="nearest">
                                    <input type="number" id="txtTotal" class="form-control" disabled />
                                </div>

                                <div class="input-group col-md-3" id="ActionButton" data-target-input="nearest">
                                    <div class="col-md-12" runat="server" style="padding-left:0">
                                        <a id="btnAdd" href="javascript:void(0)" class="btn btn-success" onclick="addDetail()">Add</a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            List Item Invoice
                        </h6>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table table-bordered " id="listData" width="100%" cellspacing="0">
                                <caption>Data ItemList</caption>
                                <thead>
                                    <tr>
                                        <th class="headerBg" style="width:8%">
                                            Item
                                        </th>
                                        <th class="headerBg" style="width:3%">
                                            Weight(Kg)
                                        </th>
                                        <th class="headerBg" style="width:3%">
                                            Qty
                                        </th>
                                        <th class="headerBg" style="width:5%">
                                            Unit Price
                                        </th>
                                        <th class="headerBg" style="width:7%">
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="form-horizontal">
                            <div class="d-flex justify-content-center">
                                <div class="row" runat="server">
                                    <button id="btnSubmit" class="btn btn-success" onclick="saveData('Save')"><em class="fa fa-paper-plane"></em> Save</button>
                                    &nbsp;
                                    <button id="btnClose" class="btn btn-dark" onclick="showCloseModal()"><em class="fa fa-times-circle"></em> Close</button>
                                    &nbsp;
                                    <button id="btnDelet" class="btn btn-danger" onclick="showDeleteModal()"><em class="fa fa-trash"></em> Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>

        @*Modal Delete Confirmation*@
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure to Delete?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Delete" below if you are sure to delete your transaction.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="closeModal()">No</button>
                        <a class="btn btn-primary" onclick="deleteChoosen()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <em class="fas fa-angle-up"></em>
    </a>
    <script src="~/theme/myjs/invoice.js"></script>
